<%= form_tag change_password_path, method: :put do %> <%#= devise_error_messages! %>
<div class="custom-form form-items">
  <h3>Identity Verification</h3>
  <div class="form-group">
  	<div class="row">
	  	<div class="col-md-12">
		  	<%= label_tag :current_password, 'Old Password', class: "control-label" %> 
		  	<%= password_field_tag "member[old_password]", nil, autocomplete: 'off', class: "form-control", placeholder: 'Enter old password' %>
		  </div>
		</div>  
  </div>	


  <div class="form-group">
  	<div class="row">
  		<div class="col-md-6">
				<%= label_tag :password, 'New password' %> 
				<%= password_field_tag "member[new_password]", nil, autocomplete: 'off', class: "form-control", placeholder: 'Enter new password' %>
			</div>
			
			<div class="col-md-6">	
				<%= label_tag :password_confirmation %> <%= password_field_tag "member[password_confirmation]", nil, autocomplete: 'off', class: "form-control", placeholder: 'Enter new password' %>
			</div>	
		</div>	

	</div>

	<%= submit_tag "CHANGE", class: "btn btn-bg mb-15", id: "change_pwd"%>
</div>	

<% end %>

