<div class="flash-message" style="display: none">
    <div class="alert alert-dismissable alert-custom-success alert-success">
      <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
      <i class="icon fa fa-check"></i>
      <h2 class="h5 mb-0" id="verified-message">
        <span>phone submitted!</span>
      </h2>
    </div>
</div>

<div class="d-flex justify-content-center px-5 py-4">


   <%= form_tag verify_contact_settings_path, method: :POST, remote: true do %>
    <div class="form-group">
        <%= label_tag :phone_number %>
      <div class="row">
        <div class="col-3">
          <%= text_field_tag :country_code, nil, class: 'px-1 form-control form-control-lg underlined', placeholder: '+1' %>
        </div>
        <div class="col-6 pr-0">
          <%= text_field_tag :phone_number, nil, class: 'px-1 form-control form-control-lg underlined', placeholder: '000 000 0000' %>
        </div>
        <div class="col-3 pl-0">
          <div class="send_code underlined">
          <div class="loader"></div>
            <a href="javascript:void(0)" id="send-code-btn">Send code</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= form_tag "JavaScript:void(0);" do %>
    <div class="form-group mt-4">
      <%= label_tag 'SMS confirmation code' %>
      <%= number_field_tag :code, nil, class: 'form-control form-control-lg underlined', placeholder: 'Enter code', required: true%>
      <%= hidden_field_tag "phone_number",nil, id: "ph-num" %>
    </div>

    <div class="d-flex justify-content-between mt-4">
      <%= submit_tag  'CONFIRM', id: "code-set" %>
    </div>
<% end %>
</div>

<script type="text/javascript">
  $(document).on("click","#send-code-btn",function(){

    number = $("#country_code").val() + $("#phone_number").val();
    $("#ph-num").val(number)
    $.ajax({
      method:  'POST',
      data:    { phone_number: number },
       url: "<%= verify_contact_settings_path %>"
    });
  });

 $(document).on("click","#code-set",function(){
    number = $("#country_code").val() + $("#phone_number").val();
    $("#ph-num").val(number)
    code = $("#code").val();
    $.ajax({
      method:  'POST',
      data:    { phone_number: number, verification_code: code},
       url: "<%= verify_phone_path %>",
        success: function(response){
          $(".flash-message").css("display","block");
          $("#country_code").val("");
          $("#phone_number").val("");
          $("#code").val("");
          $("#verified-message").html("Phone was verified successfully");
        }
    });
  });

    $(document).ready(function(){
       $(".flash-message").css("display","none");
    })
</script>
