<!DOCTYPE html>
<html lang="en" ng-app="funds">
  <head>
    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>

    <link href="/favicon.ico" rel="shortcut icon" />
    <% stylesheet = content_for?(:stylesheet) ? yield(:stylesheet) : 'application' %>
    <%= stylesheet_link_tag stylesheet, media: 'all' %>
    <%= custom_stylesheet_link_tag_for :main %>

    <%= include_gon %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'funds' %>
    <%= yield(:scripts) if content_for?(:scripts) %>
  </head>

  <body id="<%= body_id %>" data-lang="<%= "#{locale_name}" %>">

    <div id="wrap">
      <%- if content_for?(:header) %>
        <%= yield(:header) %>
      <%- else %>
        <%#= render 'shared/header' %>
        <%#= render 'shared/new_header' %>
      <%- end %>
      <header>
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-3" id="navbar_main">
            <div class="container">
                <a class="navbar-brand mr-lg-5" href=""><strong>Network status</strong><span class="green-dot"><img src="assets/serverstatus-green.png"></span>Network status</a>

                <div class="collapse navbar-collapse" id="navbar_main_collapse">

                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                      <li class="nav-item">
                          <a id="server-time" class="nav-link" href="#"></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="<%= main_app.signout_path %>">
                          <span class="log-out-btn"><%#= t('header.signout') %>Logout</span>
                        </a>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>
      </header>
      <div class='container'>
        <%= yield %>
      </div>
      <div id="push"></div>
    </div>

    <%- if content_for?(:footer) %>
      <%= yield(:footer) %>
    <%- else %>
      <%= render 'shared/footer' %>
    <%- end %>
    <script type="text/javascript">
  var d = new Date();
  document.getElementById('server-time').innerHTML = "Server Time: "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
</script>
  </body>
</html>



